#root {
    min-height: 100%;
    text-align: center;
    padding: 2rem;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
h1 {
    margin-left: 1rem;
    font-family: 'Signika Negative', sans-serif;
}
header:hover {
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0rem 1rem;
}

.finderSection {
    padding: 1rem 0rem 2rem 1rem;
}
#finder {
    width: 20rem;
    height: 2.5rem;
    font-size: 20px;
    border-radius: 10rem;
}
#finder:hover {
    background-color: rgba(108, 30, 160, 0.2);
    transition: ease 3s;
    color: black;
}
.fa-arrows-rotate {
    margin-left: 1rem;
    font-size: 24px;
    color: green;
}

.listSection {
    width: 50rem;
}
.fa-trash-can {
    color: red;
}
.fa-trash-can:hover {
    transform: scale(1.5);
    transition: ease 1.5s;
    cursor: pointer;
}

#formName,
#formEmail,
#formAge,
#formPosition,
#formPhone {
    width: 20rem;
}

.submitBtn:hover {
    transform: scale(1.25);
    transition: ease 2s;
}
.alertDisplay {
    margin-top: 1rem;
    height: 2rem;
    font-size: 20px;
}
